In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Read the CSV file
df = pd.read_csv('/Users/naroacorettisanchez/Documents/GitHub/SnowSormGENERALS/GAMA_project/data/TraditionalScenario/2023-06-24 01.30.00/package_trips_1_38_7.csv')
df2 = pd.read_csv('/Users/naroacorettisanchez/Documents/GitHub/SnowSormGENERALS/GAMA_project/data/AutonomousScenario/2023-06-24 01.30.00/package_trips_0_53_46.csv')

In [2]:
df.head()

,Cycle,Time,Traditional Scenario,Num Autonomous Bikes,Autonomous Bikes Battery Life,AB PickUp Speed,Num Cars,Agent,Trip Served,Mode,Wait Time (min),Departure Time,Arrival Time,Duration (min),Origin [lat],Origin [lon],Destination [lat],Destination [lon],Distance (m)
0,186,2022-10-01 00:31:00,True,110,50000.0,3.055556,40,package0,True,2,1.166667,00:22:20,00:31:00,8.666667,-71.086885,42.372127,-71.123928,42.388293,3618.904228
1,374,2022-10-01 01:02:20,True,110,50000.0,3.055556,40,package3990,True,2,1.500000,01:00:40,01:02:20,1.666667,-71.118519,42.370282,-71.119940,42.372069,334.303097
2,402,2022-10-01 01:07:00,True,110,50000.0,3.055556,40,package7980,True,2,1.833333,01:01:00,01:07:00,6.000000,-71.119396,42.373092,-71.113837,42.377690,697.261243
3,1277,2022-10-01 03:32:50,True,110,50000.0,3.055556,40,package3,True,2,1.000000,03:30:10,03:32:50,2.666667,-71.109872,42.369111,-71.116313,42.372419,680.169727
4,1634,2022-10-01 04:32:20,True,110,50000.0,3.055556,40,package3993,True,2,1.500000,04:29:40,04:32:20,2.666667,-71.120337,42.389247,-71.123093,42.382257,894.311613

In [3]:
df2.head

<bound method NDFrame.head of        Cycle                 Time  Traditional Scenario  Num Autonomous Bikes  \
0        269  2022-10-01 00:44:50                 False                   110
1        380  2022-10-01 01:03:20                 False                   110
2        419  2022-10-01 01:09:50                 False                   110
3       1296  2022-10-01 03:36:00                 False                   110
4       1655  2022-10-01 04:35:50                 False                   110
...      ...                  ...                   ...                   ...
11962  25593  2022-10-03 23:05:30                 False                   110
11963  25665  2022-10-03 23:17:30                 False                   110
11964  25698  2022-10-03 23:23:00                 False                   110
11965  25708  2022-10-03 23:24:40                 False                   110
11966  25708  2022-10-03 23:24:40                 False                   110

       Autonomous Bikes Battery Life  AB PickUp Speed  Num Cars         Agent  \
0                            50000.0         3.055556        40      package0
1                            50000.0         3.055556        40   package3990
2                            50000.0         3.055556        40   package7980
3                            50000.0         3.055556        40      package3
4                            50000.0         3.055556        40   package3993
...                              ...              ...       ...           ...
11962                        50000.0         3.055556        40   package3983
11963                        50000.0         3.055556        40  package11963
11964                        50000.0         3.055556        40   package3986
11965                        50000.0         3.055556        40   package7976
11966                        50000.0         3.055556        40  package11966

       Trip Served  Mode  Wait Time (min) Departure Time Arrival Time  \
0             True     1         1.666667       00:22:50     00:44:50
1             True     1         1.500000       01:00:40     01:03:20
2             True     1         1.833333       01:01:00     01:09:50
3             True     1         2.000000       03:31:10     03:36:00
4             True     1         1.500000       04:29:40     04:35:50
...            ...   ...              ...            ...          ...
11962         True     1         3.166667       23:03:20     23:05:30
11963         True     1         1.333333       23:13:30     23:17:30
11964         True     1         1.500000       23:14:40     23:23:00
11965         True     1         1.500000       23:14:40     23:24:40
11966         True     1         1.000000       23:22:10     23:24:40

       Duration (min)  Origin [lat]  Origin [lon]  Destination [lat]  \
0           22.000000    -71.086885     42.372127         -71.123928
1            2.666667    -71.118519     42.370282         -71.119940
2            8.833333    -71.119396     42.373092         -71.113837
3            4.833333    -71.109872     42.369111         -71.116313
4            6.166667    -71.120337     42.389247         -71.123093
...               ...           ...           ...                ...
11962        2.166667    -71.122743     42.391434         -71.120815
11963        4.000000    -71.093880     42.362782         -71.100137
11964        8.333333    -71.119836     42.383291         -71.119940
11965       10.000000    -71.119836     42.383291         -71.113142
11966        2.500000    -71.101967     42.364027         -71.100137

       Destination [lon]  Distance (m)
0              42.388293   3618.904228
1              42.372069    334.303097
2              42.377690    697.261243
3              42.372419    680.169727
4              42.382257    894.311613
...                  ...           ...
11962          42.389444    300.012567
11963          42.362183    596.304788
11964          42.372069   1353.767784
11965          42.369952   1603.146102
11966          42.362183    342.992740

[11967 rows x 19 columns]>

In [4]:
total1= df.shape[0]
print('total trad', total1)
total2 = df2.shape[0]
print('total aut', total2)

total trad 11967
total aut 11967

In [5]:
served1= df['Trip Served'].sum()
print('Served trad: ',served1)
print('Served pct trad:', served1/total1)

served2= df2['Trip Served'].sum()
print('Served aut: ',served2)
print('Served pct aut:', served2/total2)

Served trad:  1458
Served pct trad: 0.12183504637753823
Served aut:  10340
Served pct aut: 0.8640427843235564

In [6]:
served_df= df[df['Trip Served'] == True]

served_df2= df2[df2['Trip Served'] == True]

In [7]:
wait1= served_df['Wait Time (min)'].mean()
print('Avg wait trad:', wait1)

wait2= served_df2['Wait Time (min)'].mean()
print('Avg wait aut:', wait2)

Avg wait trad: 1.882373113854597
Avg wait aut: 4.824661508704064